/* TODO 7: Change how the whole page looks */

/* TODO 8: Change how the heading looks */

/* TODO 9: Change how the button looks */

/*
Hints:
- Colors exist
- Text size exists
- Space around things exists
*/
